body {
    padding-top: 5px;
}

.pagina {
    background-color: aliceblue;
    color: black;
    width: 792px;
    margin: auto;
}


.to-me{
    width: 255px;
    padding: 0px;
    display: flex;
    margin: 6px 0px;
    align-items: center;
}

@page {
    margin: 0;
}